#### Basic Python Operators ####

In [1]:
#### Multiplication 
2*2

4

In [2]:
#### The % operator in Python is the modulus operator. It returns the remainder of the division of one number by another
7%4

####  Here's how it works for 7%4
#### Divide 7 by 4, which equals 1 with a remainder. The integer division of 7 by 4 is 1 (since 4×1=4).
#### Subtract this product from the original number: 7−4 =3.
#### Thus, the remainder when 7 is divided by 4 is 3, which is the result of the modulus operation 7%4.

3

In [3]:
#### Variable Assignment: The = operator assigns the value on its right (in this case, 3) to the variable on its left (a).
#### Variable Creation: If a did not previously exist, this statement creates a new variable named a.
#### Type Inference: Python infers the type of a based on the assigned value. Here, since 3 is an integer, a becomes an integer variable.
#### Value Storage: The value 3 is stored in memory, and a is a reference to that memory location.

a=3
a

3

In [4]:
#### Addition
a+a

6

In [5]:
#### Reassignment
a=a+a
a

6

In [6]:
#### Assigning variable and performing an operation.
my_income = 100
taxes_rate = 0.1
my_tax = my_income*taxes_rate
my_tax

10.0

In [7]:
a=10
a

10

In [8]:
#### Operation: The *= operator is an in-place multiplication operator. 
#### It multiplies the current value of a by the number on the right side (10 in this case) and then updates a with the result.
a*=10
a

100

In [9]:
#### Operation: The /= operator is an in-place division operator. 
#### It divides the current value of a by the number on the right side (5 in this case) and then updates a with the result.
a/=5
a

20.0

In [10]:
#### Variable Assignment: When you assign a = 'horse', you are creating a variable a and assigning it the string value 'horse'.
#### Type Checking: The type() function is a built-in function in Python that returns the type of the specified object.
a = 'horse'
type(a)

str

In [11]:
#### Parentheses for Grouping: The expression ('horse') is just the string 'horse' with parentheses around it. 
#### Parentheses are used here for grouping, and they don't create a tuple by themselves.
#### String Assignment: The value assigned to a is still the string 'horse'.
#### Type Identification: The type() function then checks the type of a. Since a is just the string 'horse', type(a) returns <class 'str'>.
####To actually create a single-element tuple, you need to include a comma inside the parentheses:
#### a = ('horse',)
a = ('horse')
type(a)

str

In [12]:
#### String Literal: 'Hello World, Thank You' is a string literal, which is the text you want to print.
#### Function Call: print('Hello World, Thank You') calls the print function with the string literal as an argument.
#### Display Output: The print function then displays the string on the console.
print('Hello World, Thank You')

Hello World, Thank You

In [13]:
#### Escape Sequence \n: The \n is an escape sequence in Python that represents a newline character. 
#### It tells the interpreter to move to the next line when it encounters this sequence.
print('Hello World \n Thank You')

Hello World
 Thank You

In [14]:
#### Function Call: len() is a function that takes an object as an argument and returns the number of items in that object. 
#### For strings, it returns the number of characters.
#### Python counts each character in the string.
#### There are 11 characters in the string 'hello world', including spaces.
len('hello world')

11

In [15]:
#### Direct Printing
a = 'Hello World'
a

'Hello World'

In [16]:
#### Calling print function
print (a)

Hello World

In [17]:
#### Indexing: Strings in Python are indexed, 
#### meaning each character in the string has a position or index starting from 0 up to n-1, where n is the length of the string.
a[1]

'e'

In [18]:
a[0]

'H'

In [19]:
#### Slicing: Slicing with a[start:end] extracts a substring starting from index start up to, but not including, index end.
a[1:]

'ello World'

In [20]:
a[0:]

'Hello World'

In [21]:
#### Slicing: When you use a[:3], it means you're extracting a substring starting from the beginning (index 0) up to, but not including, index 3.
a[:3]

'Hel'

In [22]:
#### Slicing: When you use a[:-2], 
#### it means you're extracting a substring starting from the beginning (index 0) up to, but not including, the 2nd-to-last index (-2).
a[:-2]

'Hello Wor'

In [23]:
#### Slicing with Step: When you use a[::3], 
#### the third argument (step) determines how many positions to move forward after each element is taken from the sequence.
a[::3]

'HlWl'

In [24]:
d = ('hello')
d

'hello'

In [25]:
d[::2]

'hlo'

In [26]:
#### Slicing with Negative Step: When you use [::-1], it means:
#### start is not specified (None), so it defaults to the beginning of the sequence.
#### end is not specified (None), so it defaults to the end of the sequence.
#### step is -1, which indicates that you are slicing the sequence in reverse.
d[::-1]

'olleh'

In [27]:
d[::-2]

'olh'

In [28]:
#concatenating..!
d

'hello'

In [29]:
#### String Concatenation: In Python, the + operator can be used to concatenate strings. 
#### When you write d = d + ' dear world..!', it means you are appending the string ' dear world..!' to the existing value of d.
#### Python evaluates d + ' dear world..!'.
#### This operation creates a new string that combines the contents of d (which could be 'hello') and ' dear world..!'.
#### The result of this concatenation is a new string that would be stored back into the variable d.
d = d + ' dear world..!'
print(d)

hello dear world..!

In [30]:
#### Method Invocation: When you write d.upper(), you are invoking the upper() method on the string d.
#### Transformation: The upper() method transforms all lowercase characters in the string d to their uppercase equivalents.
d.upper()

'HELLO DEAR WORLD..!'

In [31]:
#### Method Invocation: When you write d.lower(), you are invoking the lower() method on the string d.
#### Transformation: The lower() method transforms all uppercase characters in the string d to their lowercase equivalents.
d.lower()

'hello dear world..!'

In [32]:
#### Method Invocation: When you write d.split(), you are invoking the split() method on the string d.
#### Splitting Criteria: By default, split() splits the string d based on any whitespace characters and 
#### removes any leading or trailing whitespace from the resulting substrings.
#### Return Value: The split() method returns a list of substrings obtained from splitting the original string d. 
#### Each substring in the list corresponds to a portion of the original string separated by whitespace.
d.split()

['hello', 'dear', 'world..!']

In [33]:
#### Method Invocation: When you write d.split('e'), you are invoking the split() method on the string d and specifying 'e' as the separator.
#### Splitting Criteria: The split('e') method splits the string d into substrings wherever the character 'e' occurs. 
#### It removes the specified separator from the resulting substrings.
#### Return Value: The split('e') method returns a list of substrings obtained from splitting the original string d at each occurrence of 'e'.
#### Edge Cases: If the separator 'e' is not found in the string d, split('e') returns a list containing the original string d.
d.split('e')

['h', 'llo d', 'ar world..!']

#### I hope this helps you with the basic operators in python, THANK_YOU ####